{% extends "/layout.twig" %}

{% block content %}
    <h1>Signup!</h1>
    <form method="post" action="/">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control" name="name" id="exampleInputEmail1" placeholder="name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="passeword" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="passeword-conf" id="exampleInputPassword1" placeholder="Password confirme">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <div>
            <label>
                <a href="#">You have a account?</a>
            </label>
        </div>
    </form>
{% endblock %}